body {
  background: blueviolet; /* Creates a purple gradient background */
  height: 100vh; /* Ensures the body takes up the full viewport height */
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
  display: flex;
  flex-direction: column;
  /* background-image: url('bg.jpg');
  background-size: cover; */
  

  
  color: white; /* Makes the text readable on the gradient background */
  font-family: monospace;
}


.heading {
  font-family: 'Arial', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin: 20px 0;
  padding: 10px;
 
  

  
}
